*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
share/python-wheels/
*.egg-info/
.eggs/

.venv/
venv/
ENV/
env/
.python-version

*.manifest
*.spec

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
